@font-face {
    font-family: Feixen-Edgy;
    src: url("font/Studio\ Feixen\ Sans\ Edgy\ Variable\ Trail.ttf");
    font-weight: 300 900;
    font-stretch: 50% 150%;
}

body {
    background-color: rgb(255, 255, 255);
    font-family: Feixen-Edgy;
    font-size: 10px;
    color: rgb(0, 0, 0);
    margin: 0;
} 

#controller {
    padding: 0.5rem;
    position: absolute;
}

span {
    color: rgb(0, 255, 174);
    font-size: 100px;
    /* mix-blend-mode: difference; */
    
    /* border: 1px solid blue;
    border-radius: 40%; */
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    /* background-color: #C0C0C0; */
}

.words {
    position: absolute;
    display: inline-flex;
    font-stretch: 50%;
    /* font-weight: 100; */
    /* font-variation-settings: "wdth" 80; */
}

circle {
    transition: transform 0.2s;
    animation: scaleBubbles alternate infinite;
}

@keyframes scaleBubbles {
    from {}

    to { 
        transform: scale(0.5)
    }
}

.move {
    fill: none;
    position: absolute;
    /* transition: transform 0.3s cubic-bezier(0.68, -0.6, 0.32, 1.6); */
}
/* 
.move:hover {
    transform: translate(var(--xTranslate), var(--yTranslate));
} */

